@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.ff {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    /* ======================== fs ================ */
    --fs-xsm: 18px;
    --fs-sm: 23px;
    --fs-md: 25px;
    --fs-lg: 35px;
    /* ======================= fw =============== */
    --fw-xsm: 500;
    /* ======================== clr ================== */
    --p-clr: #082032;
    --h2-clr: #14279b;
    --h1-clr: #002265;
    /* ========================== bg ================ */
    --bg-blue: #608af5;
}

.fs_18 {
    font-size: var(--fs-xsm);
}

.fs_23 {
    font-size: var(--fs-sm);
}

.fs_25 {
    font-size: var(--fs-md);
}

.fs_35 {
    font-size: var(--fs-lg);
}

.fw_500 {
    font-weight: var(--fw-xsm);
}

.h1_clr {
    color: var(--h1-clr);
}

.h2_clr {
    color: var(--h2-clr);
}

.p_clr {
    color: var(--p-clr);
}

.bg_blue {
    background-color: var(--bg-blue);
}

.fs-35 {
    font-size: 35px;
}

@media (max-width:576px) {
    :root {
        /* ======================== fs ================ */
        --fs-xsm: 18px;
        --fs-sm: 23px;
        --fs-md: 25px;
        --fs-lg: 10px;
        /* ======================= fw =============== */
        --fw-xsm: 500;
        /* ======================== clr ================== */
        --p-clr: #082032;
        --h2-clr: #14279b;
        --h1-clr: #002265;
        /* ========================== bg ================ */
        --bg-blue: #608af5;
    }
}

@media (min-width:576px) {
    :root {
        /* ======================== fs ================ */
        --fs-xsm: 18px;
        --fs-sm: 23px;
        --fs-md: 25px;
        --fs-lg: 25px;
        /* ======================= fw =============== */
        --fw-xsm: 500;
        /* ======================== clr ================== */
        --p-clr: #082032;
        --h2-clr: #14279b;
        --h1-clr: #002265;
        /* ========================== bg ================ */
        --bg-blue: #608af5;
    }
}

@media (min-width:992px) {
    :root {
        /* ======================== fs ================ */
        --fs-xsm: 18px;
        --fs-sm: 23px;
        --fs-md: 25px;
        --fs-lg: 35px;
        /* ======================= fw =============== */
        --fw-xsm: 500;
        /* ======================== clr ================== */
        --p-clr: #082032;
        --h2-clr: #14279b;
        --h1-clr: #002265;
        /* ========================== bg ================ */
        --bg-blue: #608af5;
    }
}